{% extends 'layouts/base.html' %}

{% block body %}
<div class="container-fluid">
    <div class="row flex-nowrap">
        <div class="col-auto bg-light pt-2">
            <nav class="sidebar">
                {% include 'partials/sidebar.html' %}
            </nav>
        </div>

        <main class="col-10">
            <div class="content p-0 p-sm-4">
            {% block content %}
            {% endblock %}
            </div>
        </main>
    </div>
    <div class="row">
        <nav class="footer col p-0 d-flex flex-column-reverse flex-md-row justify-content-center align-items-center bg-dark text-light">
            {% include 'partials/footer.html' %}
        </nav>
    </div>
</div>
{% endblock %}
