{% extends 'layouts/conteudo.html' %}

{% block content %}


<h1 class="d-flex align-items-center">
    <span class="badge badge-secondary mr-2">
        <span data-feather="file-text"></span>
    </span>
    Gerar relatório
</h1>

<div class="row mb-4">
    <form method="post" class="col-md-10">
        {% set flashed_messages = get_flashed_messages() %}
        {% if flashed_messages %}
        <div class="card border-danger mb-4">
            <div class="card-body">
                <div class="card-title text-danger font-weight-bold">
                    Ops, ocorreu algo de errado!
                </div>
                Por favor, corrija os erros abaixo e tente novamente.
                <div class="card-text mt-2">
                    <ul class="pl-4">
                    {% for msg in get_flashed_messages() %}
                    <li>{{ msg }}</li>
                    {% endfor %}
                    </ul>
                </div>
            </div>
        </div>
        {% endif %}

        <div class="form-row">
            <div class="col-md form-group">
                <label for="data_inicio">Data de início</label>
                <input required type="date" name="data_inicio" id="data_inicio" class="form-control">
            </div>
            <div class="col-md form-group">
                <label for="data_termino">Data de término</label>
                <input required type="date" name="data_termino" id="data_termino" class="form-control">
            </div>
        </div>

        <div class="form-group">
            <label>Tipo</label>
            <div class="btn-group btn-group-toggle d-flex flex-column flex-md-row" data-toggle="buttons">
                <label for="relatorio_especifico" class="btn btn-secondary active">
                    <input checked type="radio" name="tipo_relatorio" id="relatorio_especifico" value="especifico">
                    Específico
                </label>
                <label for="relatorio_geral" class="btn btn-secondary">
                    <input type="radio" name="tipo_relatorio" id="relatorio_geral" value="geral">
                    Geral
                </label>
            </div>
        </div>

        <div class="form-group">
            <label for="empresa">Empresa</label>
            <select type="number" min="0" name="empresa" id="empresa" class="custom-select">
                <option selected value="-1"></option>
                {% for empresa in empresas %}
                    <option value="{{ empresa.id }}">{{ empresa.razao_social }}</option>
                {% endfor %}
            </select>
        </div>

        <div class="form-row">
            <div class="col"></div>
            <div class="col-sm-auto">
                <button type="submit" class="btn btn-primary">
                    <span data-feather="arrow-right" aria-hidden="true" class="mr-1"></span>
                    Gerar relatório
                </button>
            </div>
        </div>
    </form>
</div>
{% endblock %}
