{% extends 'layouts/conteudo.html' %}

{% set session = {
    'user': {
        'id': 1
    }
}%}

{% block content %}
    {% if usuarios %}
    <div class="d-flex align-items-baseline">
        <h1 class="d-flex align-items-center">
            <span class="badge badge-pill badge-secondary mr-2">{{ usuarios|length }}</span>
            Lista de usuários
        </h1>
        <a href="{{ url_for('usuario.cadastrar') }}" class="ml-auto btn btn-success">
            <span data-feather="user-plus" aria-hidden="true"></span>
            <span class="d-none d-md-inline">Cadastrar usuário</span>
        </a>
    </div>
    {% set success_flashed_messages = get_flashed_messages(category_filter=['success']) %}
    {% if success_flashed_messages %}
        <div class="card bg-success text-white font-weight-bold">
            <div class="card-body">
                {% for msg in success_flashed_messages %}
                {{ msg }}<br>
                {% endfor %}
            </div>
        </div>
    {% endif %}
    <div class="table-responsive">
        <table class="table table-hover">
            <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Ações</th>
            </tr>
            </thead>
            <tbody>
            {% for usuario in usuarios %}
                <tr>
                    <td>
                        <div class="d-flex flex-wrap align-items-center">
                            {{ usuario.nome }}
                            {% if usuario.tipo == 'Administrador' %}
                                <span class="ml-2 badge badge-pill badge-info">Administrador</span>
                            {% elif usuario.tipo == 'Funcionário' %}
                                <span class="ml-2 badge badge-pill badge-secondary">Funcionário</span>
                            {% endif %}
                            {% if usuario.id == session.user.id %}
                                <span class="ml-2 text-muted">É você!</span>
                            {% endif %}
                        </div>
                        <div class="text-muted">
                            {{ usuario.email }}
                        </div>
                    </td>
                    <td>{{ usuario.cpf | formatar_cpf(pontuacao=True) }}</td>
                    <td>
                        <a href="{{ url_for('usuario.editar', id_usuario=usuario.id) }}" class="btn btn-sm">
                            <span data-feather="edit" class="text-muted" aria-hidden="true"></span>
                            <span class="sr-only">Editar</span>
                        </a>
                    </td>
                </tr>
            {% endfor %}
            </tbody>
        </table>
    </div>
    {% else %}
        Nenhum usuário cadastrado!
    {% endif %}
{% endblock %}
