.sidebar {
    height: calc(100vh - 2.8rem);
}

.sidebar .nav-link .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 4px;
}

.sidebar .nav-link.active {
    font-weight: bold;
}

.content {
    padding: 1.5rem 2rem;
}

.footer {
    height: 2.8rem;
}

.btn {
    border-radius: 0;
}

.menu-usuario .menu-usuario__nome {
    word-break: break-all;
}
