.sidebar {
    height: 100vh;
}

.sidebar .nav-link .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 4px;
}

.sidebar .nav-link.active {
    font-weight: bold;
}
