@font-face {
  font-family: 'Signika';
  font-style: normal;
  font-display: swap;
  font-weight: 700;
  src:
    local('Signika Bold '),
    local('Signika-Bold'),
    url('/static/signika-bold.woff2') format('woff2'),
    url('/static/signika-bold.woff') format('woff');
}


.logo {
    font-family: 'Signika', sans-serif;
    font-weight: bold;
}

.sidebar {
    height: calc(100vh - 2.8rem);
}

.sidebar .nav-link .feather {
    width: 16px;
    height: 16px;
    vertical-align: text-bottom;
    margin-right: 4px;
}

.sidebar .nav-link.active {
    font-weight: bold;
}

.content h1 {
    margin-bottom: .5rem;
    padding: 0.75rem 0;

    font-size: 1.5rem;
    font-weight: bold;
}

.content h2 {
    margin-bottom: .25rem;
    padding: 0.5rem 0;

    font-size: 1.2rem;
    font-weight: bold;
}

.footer {
    height: 2.8rem;
}

.btn {
    border-radius: 0;
}

.menu-usuario .dropdown-toggle {
    overflow: hidden;
    text-overflow: ellipsis;
}

.table caption {
    caption-side: top;
    margin-bottom: .5rem;
    padding: 0.75rem 0;
    line-height: 1.2;

    font-size: 1.5rem;
    font-weight: bold;

    color: rgb(33, 37, 41);;
}

@media print {
    main {
        flex-basis: auto !important;
        max-width: max-content !important;
    }
    .sidebar-wrapper {
        display: none;
    }
}
