{% extends 'layouts/conteudo.html' %}

{% block content %}
<h1 class="d-flex align-items-center">
    <span class="badge badge-secondary mr-2">
        <span data-feather="edit"></span>
    </span>
    Editar navio
</h1>


<section>
    <h1 class="sr-only">Formulário de edição do navio</h1>
    <div class="row mb-4">
        <form method="post" class="col-md-10">
            <div class="form-group form-row mb-4">
                <label for="empresa" class="col-md-2 col-form-label">Empresa</label>
                <div class="col-md-10">
                    <select name="empresa" id="empresa" class="custom-select">
                        {% for empresa in empresas %}
                        <option {{ 'selected' if empresa.id == navio.empresa.id else '' }} value="{{ empresa.id }}">{{ empresa.razao_social }}</option>
                        {% endfor %}
                    </select>
                </div>
            </div>

            <div class="form-group form-row mb-4">
                <label for="nome" class="col-md-2 col-form-label">Nome</label>
                <div class="col-md-10">
                    <input required type="text" name="nome" id="nome" class="form-control" value="{{ navio.nome }}">
                </div>
            </div>
            <div class="form-group form-row">
                <label for="numero_imo" class="col-md-2 col-form-label">Número IMO</label>
                <div class="col-md-5">
                    <input required type="text" name="numero_imo" id="numero_imo" class="form-control text-monospace" value="{{ navio.numero_imo }}">
                </div>
            </div>
            <div class="form-group form-row mb-4">
                <label for="bandeira" class="col-md-2 col-form-label">Bandeira</label>
                <div class="col-md-5">
                    <input required type="text" name="bandeira" id="bandeira" class="form-control" value="{{ navio.bandeira }}">
                </div>
            </div>

            <div class="form-group form-row">
                <label for="comprimento_m" class="col-md-2 col-form-label">Comprimento (m)</label>
                <div class="col-md-5">
                    <input type="number" min="0" name="comprimento_m" id="comprimento_m" class="form-control" value="{{ navio.comprimento_m }}">
                </div>
            </div>
            <div class="form-group form-row">
                <label for="porte_bruto_t" class="col-md-2 col-form-label">Porte bruto (ton)</label>
                <div class="col-md-5">
                    <input type="number" min="0" name="porte_bruto_t" id="porte_bruto_t" class="form-control" value="{{ navio.porte_bruto_t }}">
                </div>
            </div>
            <div class="form-group form-row">
                <label for="n_tripulantes" class="col-md-2 col-form-label">Número de tripulantes</label>
                <div class="col-md-5">
                    <input type="number" min="0" name="n_tripulantes" id="n_tripulantes" class="form-control" value="{{ navio.n_tripulantes }}">
                </div>
            </div>

            <div class="form-row">
                <div class="col"></div>
                <div class="col-sm-auto">
                    <button type="submit" class="btn btn-primary w-100">
                        <span data-feather="save" aria-hidden="true" class="mr-1"></span>
                        Salvar alterações
                    </button>
                </div>
            </div>
        </form>
    </div>
</section>

<section>
    <div class="row">
        <div class="col-md-10 col-lg-7">
            <h2>Outras ações</h2>
            <div class="card border-danger">
                <div class="card-body">
                    <div class="card-title text-danger font-weight-bold">Deletar navio</div>
                    <div class="card-text">
                        Remove todas as informações do navio.<br>
                        Esta operação não pode ser desfeita.
                        <div class="mt-4">
                            <a href="#" class="btn btn-danger">
                                <span data-feather="user-x" aria-hidden="true" class="mr-1"></span>
                                Deletar navio
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>
{% endblock %}

