<div class="ml-3">
    {{ config.APP_NAME }}
</div>

<div class="ml-auto pr-3">
</div>

{% if current_user.is_authenticated %}
<div class="btn-group dropup align-self-stretch menu-usuario">
    <button id="menu_usuario" type="button" class="btn btn-secondary dropdown-toggle" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
        <span data-feather="user"></span>
        <span class="menu-usuario__nome">{{ current_user.nome }}</span>
    </button>
    <div class="dropdown-menu dropdown-menu-right" aria-labelledby="menu_usuario">
        <a href="{{url_for('usuario.logout')}}">  
            <button type="button" class="dropdown-item" >
                <span data-feather="log-out" ></span>
                Sair
            </button>
        </a>
    </div>
</div>

{% endif %}
