{% set items=[
    dict(texto='Home', icone='home', link='/'),
    dict(texto='Portos', icone='anchor', link='/portos/'),
    dict(texto='Empresas', icone='globe', link='/empresas/'),
    dict(texto='Navios', icone='life-buoy', link='/navios/'),
    dict(texto='Viagens', icone='navigation', link='/viagens/'),
    dict(texto='Usuários', icone='users', link='/usuarios/'),
    dict(texto='Relatórios', icone='file-text', link='/relatorios/'),
] %}

<ul class="nav flex-column">
    {% for item in items %}
    <li class="nav-item">
        <a href="{{ item.link|default('#') }}" class="nav-link px-0 px-sm-3 {{ 'active' if request.path == item.link }}">
            <span data-feather="{{ item.icone }}"></span>
            <span class="d-none d-sm-inline">{{ item.texto }}</span>
            {% if item.current %}<span class="sr-only">(atual)</span>{% endif %}
        </a>
    </li>
    {% endfor %}
</ul>
